.modal {
    position: absolute;

    &__shadow{
        position: fixed;
        overflow: auto;
        border: none;
        display: block;
        width: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 99;
        transition: opacity 0.15s ease;
        background-color: rgba($color: #000000, $alpha: 0.8);
        backdrop-filter: blur(2px);
    }

    &__title {
        font-size: 1.4rem;
    }

    &__wrap {
        position: relative;
        z-index: 100;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__window {
        position: relative;
        padding: 20px 20px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        row-gap: 20px;
        background: #f2f2f2;
        border-radius: 10px;
        transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
        transform: scale(0.9);
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 32px;
        height: 32px;
        -webkit-appearance: none;
        border: none;
        appearance: none;
        background-color: $colorInputEditBorder;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        transition: 0.3s all ease-in-out;

        &:hover {
            background-color: $colorInputEditBorderFocus;
            cursor: pointer;
        }
    }

    &__input::placeholder {
        color: gray;
        font-weight: 300;
        font-size: 1.15rem;
    }

    &__input {
        display: block;
        margin: 0 auto;
        width: 75%;
        outline: none;
        height: calc(2.25rem + 4px);
        padding: 0.375rem 0.75rem;
        font-family: inherit;
        font-size: 1.25rem;
        font-weight: 500;
        font-style: bold;
        line-height: 1.4;
        color: #000000;
        background-color: #f2f2f2;
        background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    &__input:focus:valid,
    &__input:valid {
        border-color: green;
        border-width: 2px;
    }

    &__input:invalid,
    &__input:focus:invalid {
        border-color: #900000;
        border-width: 1px;
    }

    &__card-block {
        padding-top: 20px;
        margin-bottom: 20px;
        margin: 0 auto;
        width: 65%;
        min-width: 250px;
        height: auto;
        background-color: gainsboro;
        border-radius: 15px;
        box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2);
    }

    &__personal {
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: space-around;
    }

    &__card-number {
        width: 90%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 35px;
    }

    &__bottom-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__date,
    &__code {
        width: 25%;
        margin: 0 25px 40px 25px;
    }

    &__btn {
        border: none;
        color: $colorButtonText;
        font-size: 20px;
        font-weight: 700;
        background-color: $colorButtonEnable;
        height: 40px;
        border-radius: $radiusBorderButton;
        padding: 0;
        width: 75%;
        margin: 0 auto;
    }

    &__btn:hover {
        box-shadow: 0px 0px 15px 0px rgba(71, 71, 71, 0.3);
        color: #fff;
        background-color: $colorButtonHover;
        cursor: pointer;
    }
    &__btn:active {
        background-color: $colorButtonActive;
    }
}

.modal__window {
    .pay-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 30px 0;
        width: 100%;
        height: 50px;
    }

    .visa,
    .master,
    .american {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
    }

    .visa {
        background-image: url('./assets/visa.png');
    }

    .master {
        background-image: url('./assets/master.png');
    }

    .american {
        background-image: url('./assets/american.png');
    }

    .success {
        background-image: url('./assets/check.png');
        height: 300px;
        width: 300px;
        align-self: center;
        background-size: cover;
        background-position: center;
    }

    .success-title {
        font-size: 2.5rem;
        color: green;
    }

    .success-redirect {
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.hidden {
    display: none;
}