$colorButtonEnable: hsl(26, 100%, 50%);
$colorButtonHover: hsl(26, 100%, 65%);
$colorButtonActive: hsl(26, 50%, 50%);

$colorTableText: hsl(0, 0%, 40%);
$colorTableRowEven: hsl(0, 0%, 100%);
$colorTableRowOdd: hsl(0, 0%, 95%);
