$deviceWidthBig: 1600px;
$deviceWidthMedium: 1024px;
$deviceWidthSmall: 768px;

$colorBackgroundMainContent: hsl(0, 0%, 98%);
$colorBackgroundMainBlocks: hsl(0, 0%, 100%);

$colorTextNormal: hsl(0, 0%, 20%);
$colorTextNormalActive: hsl(0, 0%, 10%);
$colorTextNormalLight: hsl(0, 0%, 40%);

$colorButtonEnable: hsl(26, 100%, 50%);
$colorButtonHover: hsl(26, 100%, 65%);
$colorButtonActive: hsl(26, 50%, 50%);
$colorButtonText: hsl(0, 0%, 100%);
$colorButtonBorder: $colorButtonEnable;
$radiusBorderButton: 5px;
$widthBorderButton: 1px;

$colorButton2Enable: hsl(26, 0%, 90%);
$colorButton2Hover: hsl(26, 100%, 75%);
$colorButton2Active: hsl(26, 50%, 60%);
$colorButton2Text: hsl(0, 0%, 0%);
$colorButton2Border: hsl(26, 0%, 70%);

$colorBlockBorder: hsl(0, 0%, 70%);
$widthBlockBorder: 1px;
$radiusBlockBorder: 5px;

$colorBackgroundList: hsl(0, 0%, 100%);
$colorBackgroundListHover: hsl(26, 100%, 70%);
$colorBackgroundListDisable: hsl(0, 0%, 95%);

$colorTableText: hsl(0, 0%, 40%);
$colorTableRowEven: hsl(0, 0%, 100%);
$colorTableRowOdd: hsl(0, 0%, 95%);

$colorInputEditBorder: hsl(0, 0%, 70%);
$colorInputEditBorderFocus: hsl(26, 100%, 50%);
$colorInputEditBackground: hsl(0, 0%, 95%);
$colorInputEditBackgroundFocus: hsl(0, 0%, 100%);