.product-card {
    position: relative;
    padding-top: 130%;
    height: min-content;
    min-width: 150px;
    min-height: 150px;
    
    & * {
        margin: 0;
        }

    &.table-view--lines {
        padding-top: 20%;

        .product-card {
            &__thumbnail {
                width: 30%;
                height: 100%;
            }

            &__detailing-wrapper {
                position: absolute;
                left: auto;
                right: 0;
                top: 0;
                width: 70%;
                background: $colorBackgroundMainBlocks;
                padding: 10px 10px 10px 20px;
            }

            &__detailing {
                width: 100%;
                height: 100%;
                background: $colorBackgroundMainBlocks;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

    &__box {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $colorBackgroundMainBlocks;
        border: $widthBlockBorder solid $colorBlockBorder;
        border-radius: $radiusBlockBorder;
        overflow: hidden;
        padding: 5px;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0px 3px 8px 1px #aaa;
            -webkit-box-shadow: 0px 3px 8px 1px #aaa; 
        }

        .product-card {
            &__thumbnail {
                width: 100%;
                height: 60%;
                background-size: cover;
                background-position: center;
                border-radius: 8px;
            }
        
            &__discount {
                position: absolute;
                z-index: 1;
                right: 0;
                top: 0;
                background: #ff0000;
                color: #fff;
                text-align: center;
                padding: 5px;
            }

            &__detailing-wrapper {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                background: $colorBackgroundMainBlocks;
                padding: 5px 10px 10px;
            }
        
            &__detailing {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &__title {
                font-size: 1.2em;
                font-weight: 700;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        
            &__brand {
                font-size: 0.9em;
            }
        
            &__rating {
                font-size: 0.9em;
            }

            &__stock {
                font-size: 0.9em;
            }
        
            &__buy {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        
            &__price {
                margin: 0;
                display: flex;
                justify-content: left;
                align-items: flex-end;
                font-size: 28px;
                font-weight: 700;
            }
        }
    }
}

.block--hidden {
    display: none;
}
