$sortingBorderRadius: 5px;
$sortingBorderWidth: 1px;

.view__buttons {
    display: flex;

    .view-button {
        position: relative;
        width: 40px;
        height: 40px;

        &:not(:first-child) {
            margin-left: 5px;
        }

        input {
            appearance: none;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            appearance: none;
            display: grid;
            place-content: center;
        
            &:checked ~ div {
                border-color: $colorButtonEnable;

                img {
                    opacity: 0.8;
                }
            }

            &:hover ~ div {
                background-color: $colorInputEditBackgroundFocus;
                border-color: $colorButtonEnable;
            }
        }

        div {
            width: 100%;
            height: 100%;
            background-color: $colorButton2Enable;
            border: $widthBorderButton solid $colorButton2Border;
            border-radius: $radiusBorderButton;
            padding: 5px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                opacity: 0.5;
            }

        }
    }

}