.table {
    display: grid;
    grid-template-columns: 30% 1fr;
    column-gap: 20px;

    &__filter {
        width: 100%;

        .filter {
            &__control {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                background: $colorBackgroundMainBlocks;
                border: $widthBlockBorder solid $colorBlockBorder;
                border-radius: $radiusBlockBorder;
                padding: 10px;

                .control__button-copy {
                    &.button-copy--active {
                        background: green;
                    }
                }
            }

            &__block {
                margin-bottom: 10px;
                background: $colorBackgroundMainBlocks;
                border: $widthBlockBorder solid $colorBlockBorder;
                border-radius: $radiusBlockBorder;
            }

            &__title {
                min-height: 2em;
                padding: 5px 10px;
            }
            
            &__box {
                padding: 10px;

                &.category,
                &.brand {
                    height: 250px;
                    overflow: auto;
                }
            }
        }
    }

    &__products {
        width: 100%;

        .products__not-found {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 300px;
            font-size: 2em;

            &.block--hidden {
                display: none;
            }
        }
    }

    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $colorBackgroundMainBlocks;
        border: $widthBlockBorder solid $colorBlockBorder;
        border-radius: $radiusBlockBorder;
        margin-bottom: 10px;
        padding: 10px;

        .control {
            &__sorting {
                width: 200px;
            }

            &__count {
                width: 150px;
            }
        }
    }
        
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 10px;
        width: 100%;

        .products__card {
            width: 100%;
        }
    }
}


