.order {
    &__title {
        padding: 10px;
        font-size: 1.5rem;
        font-weight: 700;
        border-bottom: $widthBlockBorder solid $colorBlockBorder;
    }

    &__promo-cost-title {
        margin-top: 10px;
        font-size: 1.3rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
        padding: 20px 10px;
    }

    &__product,
    &__count,
    &__cost,
    &__promo-cost {
        font-size: 1.2rem;
    }

    &__promo {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: $colorTextNormalActive;
        background-color: $colorInputEditBackgroundFocus;
        background-clip: padding-box;
        border: 2px solid $colorInputEditBorder;
        border-radius: $radiusBorderButton;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    &__promo-block {
        padding: 0 30px;
        flex-basis: 30%;
    }

    &__apply-promo-box {
        flex-basis: 20%;
    }

    &__apply-promo {
        display: flex;
        margin: 10px 40px;
        gap: 10px;
        justify-content: space-between;
    }

    &__promo-content {
        margin: 0 auto;
        flex-basis: 30%;
        display: flex;
        gap: 10px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    &__btn {
        width: 60%;
        margin: 0 auto;
    }

    &__promo-btn,
    &__apply-promo-btn {
        font-size: 0.8rem;
        margin: 0;
    }
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}

.line {
    text-decoration: line-through;
}

