.product-cart {
    position: relative;
    min-height: 160px;
    min-width: 150px;

    & * {
        margin: 0;
    }

    &__box {
        position: relative;
        display: flex;
        justify-content: space-between;
        border: $widthBlockBorder solid $colorBlockBorder;
        border-radius: $radiusBlockBorder;
        padding: 5px;
        background: $colorBackgroundMainBlocks;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 0px 5px 5px 0px #aaa;
            -webkit-box-shadow: 0px 5px 5px 0px #aaa; 
        }

        @media (max-device-width: $deviceWidthSmall) {
            flex-direction: column;
            padding-top: 30px;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__id {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 40px;
        height: 40px;
        display: grid;
        place-content: center;
        background-color: $colorBackgroundMainBlocks;
        border-radius: 50%;
        border: 2px solid $colorButtonEnable;
        color: $colorButtonEnable;
        font-size: 1.3rem;
        font-weight: 700;
    }

    &__thumbnail {
        min-width: 120px;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 8px;

        @media (max-device-width: $deviceWidthSmall) {
            width: 30%;
            height: auto;
        }
    }

    &__detailing {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        padding: 10px 10px 10px 20px;
    }

    &__title {
        height: 1.2rem;
        font-size: 1.2rem;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__brand {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    &__desc {
        font-size: 1rem;
        overflow: hidden;
    }

    &__buy {
        position: relative;
        flex: 0 0 auto;
        padding: 20px;
    }

    &__count {
        padding-bottom: 20px;
        color: #aaa;
    }

    &__price {
        margin: 0;
        align-items: center;
        font-size: 28px;
    }

    &__order-num {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    &__button {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 24px;
        height: 24px;
        -webkit-appearance: none;
        border: none;
        appearance: none;
        background-color: $colorInputEditBorder;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
        transition: 0.3s all ease-in-out;

        &:hover {
            background-color: $colorInputEditBorderFocus;
            cursor: pointer;
        }
    }
}

.order-num {
    &__count {
        display: inline-block;
        width: 100px;
        color: #aaa;
        font-size: 1.5rem;
    }

    &__btn {
        width: 35px;
        height: 35px;
        background-color: $colorButton2Enable;
        color: $colorButton2Text;
        margin: 0 5px;
        font-size: 1.6rem;
        font-weight: 700;
        border: $widthBorderButton solid $colorButton2Border;
        border-radius: 50%;

        &:hover {
            background-color: $colorButton2Hover;
            cursor: pointer;
            box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
        }

        &:active {
            background-color: $colorButton2Active;
        }
    }

    &__btn-right {
        margin: 0;
    }
}

.block--hidden {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}